.content .intro {
    font-size: 1.25rem;
    color: var(--dark-gray);
    line-height: 1.4;
}

@media (--breakpoint-not-small) {
    .content .intro {
        font-size: 1.563em;
    }
}

.entry-content h1, .entry-content h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0 0 1.5rem 0;
}

@media (--breakpoint-not-small) {
    .entry-content h1, .entry-content h2 {
        font-size: 3.125rem;
    }
    .entry-content h3 {
        font-size: 1.375rem;
        line-height: 1.57;
    }
}

.entry-content h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
}

.entry-content h3.mb0 {
    margin-bottom: 0;
}

.entry-content p {
    font-size: .938em;
    color: var(--mid-gray);
    line-height: 1.67;
}

.entry-content .event p {
    color: var(--dark-gray);
}

.entry-content ul, .entry-content ol {
    list-style: none;
    line-height: 1.67;
    padding: 0;
}

.entry-content ul li, .entry-content ol li {
    position: relative;
    padding-left: 1rem;
    font-size: .938em;
    color: var(--mid-gray);
    margin-bottom: .5rem;
    counter-increment: list;
}

.entry-content ul li:before, .entry-content ol li:before {
    content: "•";
    position: absolute;
    left: 0;
    top: -.05rem;
    margin-right: .5rem;
    color: var(--red);
}

.entry-content ol li {
    padding-left: 1.25rem;
}

.entry-content ol li:before {
    content: counter(list) ".";
}

.link-list div:not(:first-child):before {
    content: "•";
    margin: 0 .5rem;
    color: var(--dark-gray);
}

.entry-content strong {
    font-weight: 600;
    color: var(--dark-gray);
}

.entry-content hr {
    border: none;
    height: 5px;
    margin: 3.5rem 0;
    background: var(--light-gray);
}

.entry-content.stats p {
    margin-top: 0;
    line-height: 1.5;
}

.entry-content.testimonial p {
    margin: 0;
}

.entry-content a {
    color: var(--blue);
}

.entry-content a:hover {
    color: var(--red);
}

.entry-content p img {
    margin: 4rem 0;
}

.entry-content img.mb0 {
    margin-bottom: 0;
}

.entry-content *:not(img):not(svg):last-child {
    margin-bottom: 0;
}

.entry-content div:not(.stat):not(.stats):not(.event) {
    margin: 4rem 0;
}

.entry-content .twitter-tweet {
    margin: 4rem 0 !important;
}

.entry-content div.event div {
    margin: 0 !important;
}

.cat-links a {
    display: inline-block;
    color: var(--dark-gray);
    padding: .25rem .65rem;
    text-align: center;
    margin: 0 0 4px 0;
    background: var(--gray);
}

.entry-meta .cat-links a {
    margin-left: 0;
}

.list-item .cat-links a {
    margin: 0 0 4px 0;
    display: inline-block;
}

.featured-item .cat-links a {
    margin: 0 0 4px 0;
}

.cat-links a:hover {
    background: var(--blue);
    color: #fff;
}

.entry-content blockquote {
    background: #f7f7f7;
    font-size: 1.375rem;
    line-height: 1.4;
    margin: 4rem 0;
    padding: 2rem;
}

.entry-content blockquote p {
    margin-top: 0;
    color: var(--dark-gray);
}

@media (--breakpoint-not-small) {
    .entry-content blockquote {
        padding: 3rem;
    }
}